%@font-face { font-family: Bernard MT; src: url('../fonts/BERNHC.ttf'); }

body {
    font-family: Arial, Helvetica, sans-serif;
}
#mainPage,
#shopping {
    background-color: #6495ed !important;
}
h1{
	font-family: 				Bernard MT;
	color:						white;
	text-align: 				center;
}
.number-button{
	width: 15px;
	height:15px;
}