%@font-face { font-family: Bernard MT; src: url('../fonts/BERNHC.ttf'); }

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-family: 				Bernard MT;
	color:						white;
	text-align: 				center;
}
.number-button{
	width: 15px;
	height:15px;
}

.ui-overlay-a {
    background-color: #6495ed !important;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}